# Data Science Tools and Ecosystem

## Introduction

This notebook serves as the final project for the course **Tools for Data Science**.  
It contains a list of popular languages, libraries, and tools used in data science,  
along with simple examples of arithmetic operations in Python.  
The goal is to demonstrate basic skills in using JupyterLite Notebook with both Markdown and code cells.

## Data Science Languages

Some of the popular languages used by Data Scientists include:

- Python  
- R  
- SQL  
- Julia  
- Scala  
- Java  
- C++  
- Go  
- Ruby  
- Visual Basic  
- Javascript  
- Php

## Data Science Libraries

Some of the commonly used libraries by Data Scientists include:

- Pandas  
- NumPy  
- Matplotlib  
- Seaborn  
- Scikit-learn  
- TensorFlow  
- PyTorch

## Data Science Tools

| Tool             | Category              |
|------------------|-----------------------|
| Jupyter Notebook | IDE / Notebook        |
| RStudio          | IDE                   |
| Apache Spark     | Big Data Processing   |
| TensorFlow       | Machine Learning      |
| Tableau          | Data Visualization    |

## Arithmetic Expression Examples

In this section, we will explore simple arithmetic expressions in Python.  
These include basic mathematical operations such as addition, subtraction, multiplication, and division.

In [2]:
# Multiply and add numbers
result = (3 * 4) + 5
result

17

In [3]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

The objectives of this notebook are to:

- List popular languages used in Data Science  
- Identify commonly used libraries in Data Science  
- Create a table of Data Science tools  
- Demonstrate basic arithmetic expressions in Python  
- Convert values (minutes to hours) using Python code

## Author

**Name:** Muhammad Umair Habib